<div class="container col-md-12 d-flex justify-content-center mb-5">
	<div class="row col-md-4  ">
		<div class="card col-md-12">
			<div class="card-body">
				<form id="sign-up-form" class="needs-validation" >
					<h3 class="text-center text-info">Inicio Sesión</h3>

					<div class="form-group">
						<label for="client_email">Correo Electrónico</label>
						<input type="email" id="client_email" class="form-control" formControlName="email" required />
					</div>

					<div class="form-group">
						<label for="client_password">Contraseña</label>
						<input type="password" id="client_password" class="form-control" formControlName="password" minlength="6" required />
					</div>

					<div class="d-flex justify-content-center mt-5">
						<button class="btn btn-primary" type="submit">Iniciar Sesión</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
