<div class="container">
        <div class="col col-12 col-md-12">
            <div class="ps-5 pe-5 pt-3">
                <div class="row-12 titulo fw-bold fs-2">Titulo</div>
                <div class="row">
                    <div class="col col-4 col-md-4 col-sm-12">
                        <img class="img-fluid" src="assets/images/book.jpg" alt="Imagen Producto">
                    </div>
                    <div class="col col-8 col-md-8 col-sm-12">
                        <div class="row text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam provident quasi voluptatibus
                            sequi error nisi reprehenderit expedita laborum natus, praesentium a ipsa adipisci iure quas
                            ex deserunt libero facere? Doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quod ullam expedita accusantium reiciendis officia assumenda dolores molestiae, iusto,
                            at optio quidem iste amet facilis iure sit totam, suscipit quos accusamus! Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Omnis harum tempore architecto non! Porro,
                            necessitatibus, excepturi laborum dolores placeat fugiat dolore modi nobis commodi iure
                            enim, quis dolorem praesentium! Perspiciatis. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Facilis neque nulla consequatur unde perferendis. Accusamus dolorem
                            numquam quos voluptate excepturi ad, neque ea officia ducimus odit nesciunt blanditiis
                            corrupti vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis unde
                            perspiciatis velit. Eum tenetur nobis distinctio, assumenda doloribus voluptatem illo
                            laborum perspiciatis magnam, minus maiores vero dignissimos sint excepturi quis!
                        </div>
                        <div class="row mt-4">
                            <div class="col d-flex">
                                <div class="row text-precios">Valor unitario $ 50.000,00</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="d-flex">
                                <div class="row text-Dark fw-bold">Cantidad</div>
                                <input type="number" class="rounded-3 border mx-4" placeholder="1">
                            </div>
                        </div>
                        <div class="row w-100 border-top border-secondary mt-4">
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="row text-precios fw-bold">Total $ 50.000,00</div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button routerLink="/gracias"
                                    class="pt-2 pb-2 pe-3 px-3 bg-color-btn text-white border-secondary rounded-0 border"><i
                                        class="bi bi-cart-plus me-2"></i>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
