<div class="card book shadow-sm">
  <div class="card-body">
    <h4 class="book-name text-dark">{{ book.name }}</h4>
    <figure class="book-cover">
      <img [src]="book.cover" alt="">
    </figure>
    <h5 class="book-value text-primary font-weight-bold">{{ book.unitValue | currency }}</h5>
    <div class="book-action">
      <a class="btn btn-secondary" [routerLink]="['/books', book._id]"><span class="material-icons mr-1">visibility</span>Ver</a>
    </div>
    <p class="book-description">{{ book.description }}</p>
  </div>
</div>
